.top-fold-container{
    position: relative;
    width: 100vw;
    /* vw means viewport width, which is a measurement of the viewport's width
    100 means 100% of the viewport's width
    position is a positioning system of elements
    "relative" positions element relative to its normal position in document flow
    "absolute" takes element out of the normal document flow and positions it relative to the nearest positioned ancestor */ 
}

.top-fold-image-container{
    width: 100%;
    height: auto;
    display: block;

    /* width: 100vw;
    height: auto;
    display: block;  */
    /* Block prevents incline spacing issues */
}

body{
    /* overflow-x: hidden; */
    display: flex;
    /* Hidden prevents the horizonal scrollbar caused by content overflowing the viewport */
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Absolute will take elements out of the normal document flow
Absolute positions .overlay elements relative to its nearest
ancestor with a position value other than static
Position feature allows you to place .overlay precisely within the
.image-container using the top, left, right, or bottom properties */

.top-fold-left-button {
    position: absolute;
    top: 20px;
    left: 30px;
    color: black;
    text-decoration: none;
    font-size:x-large;
}

.top-fold-right-button {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    text-decoration: none;
    font-size:x-large;
}

.inner-intro-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 600px;
}

.inner-intro-title-box{
    width: auto; 
    padding: 0;
    font-family: "Source Serif 4", serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    font-size: 2rem;
    color: black;
} 

.inner-intro-text-box{
    width: auto;
    padding: 0;
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 1rem;
    color: black;
}

.outer-intro-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 20px;
}

.inner-intro-image-box{
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-right:0;
    object-fit: contain;
}

.notecard-container{
    display: flex;
    /* justify-content:center; */
    /* align-items: center; */
    width: 95%;
    max-width: 825px;
    height: auto;
    /* background-color: #FFF9EF; */
    background-color:#fffcf6;
    margin: 20px auto;
    padding: 20px;
    outline: 2px solid #d9c6a4; 
    /* outline-offset: 5px; */
}

.notecard-inner-box{
    display: flex;
    flex-direction: column;
    padding: 10px 30px 0px 30px;
}

.notecard-outer-box{
    display: flex;
    flex-direction: row;
}

.notecard-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.notecard-title{
    font-family: "Source Serif 4", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    padding: 5px;
    color: black;
}
.notecard-topic{
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin: 5px 5px 5px 40px;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    color: white;
}

.notecard-summary-body{
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    width: 510px;
    color: black;
}
.notecard-footer{
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-style: normal;
    color: grey;
    padding: 10px;
}

.notecard-image{
    max-width: 200px;
    height: auto;
    object-fit: contain;
}

.notecard-link{
    text-decoration:none;
}

h1, li{
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-style: normal;  
}

.link-to-make-post{
    margin-left: 35%;
}