.image-container{
    position: relative;
    width: 100vw;
    /* vw means viewport width, which is a measurement of the viewport's width*/
    /* 100 means 100% of the viewport's width */

    /* position is a positioning system of elements */ 
    /* "relative" positions element relative to its normal position in document flow*/ 
    /* "absolute" takes element out of the normal document flow and positions it relative to the nearest positioned ancestor */ 
}

.image-container img{
    width: 100vw; 
    height: auto;
}

.overlay{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    width:100%;
    align-items: center;
}

.overlay-left {
    color: white;
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.overlay-right {
    color: white;
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    margin: 50px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: auto;
}