.top-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-button {
    text-align: left;
    color: black;
    text-decoration: none;
    font-size:x-large;
    padding: 20px;
}

.right-button {
    text-align: right;
    color: black;
    text-decoration: none;
    font-size:x-large;
    padding: 20px 30px 20px 20px;
}

input[type=text], textarea{
    font-family: "Source Serif 4", serif;
    font-size: 1em;
    /* margin: 20px; */
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    margin: 0;
}

input[type=button]{
    font-size: 3em;
    color: blue;
    margin: 10px;
}

label {
    font-family: "Source Serif 4", serif;
    font-size: 1.4em;
    margin: 10px;
    display: block;
}

.outer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-start;
    margin: 0 200px;
    padding: 40px;
    /* align-items: center; */
    /* margin: 0 200px; */
    outline: 2px solid #d9c6a4; 
    background-color: #FFF9EF;
}

h2,h5 {
    font-family: "Source Serif 4", serif;
    font-weight: normal;
}