.top-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-button {
    text-align: left;
    color: black;
    text-decoration: none;
    font-size:x-large;
    padding: 20px;
}

.right-button {
    text-align: right;
    color: black;
    text-decoration: none;
    font-size:x-large;
    padding: 20px 30px 20px 20px;
}

.outer-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}

p{
    width: auto;
    padding: 10px;
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
    font-size: 1.5rem;
    color: black;
}

.self-image{
    width: 600px;
    height:650px;
}