div.container-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

div.container-item-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

div.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin:0 auto;
    text-align: left;
    width: 250px;
}

select{
    width:200px;
    padding:10px;
    margin-bottom:20px;
    font-size:20px;
}

img.box {
    width: 400px;
    height: 400px;
    border: 5px solid black;
}

img.bigger-box {
    width: 600px;
    height: 600px;
    border: 5px solid black;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 10px 10px;
}

.highlight-text a {
    background-color: yellow;
    display:inline-block;
}

.center-text {
    text-align: center;
}

div.highlight:hover {
    background-color: yellow;
    padding: 5px;
}

div.bold:hover h2{
    font-weight:bold;
}

h2,h3 {
    color: black;
    font-family: "Arial", sans-serif;
    margin: 2px;
    font-weight: 100;
}

/* Doesn't work - ask TA */
a > h3 {
    text-decoration: none;
}

h2.center-text {
    margin-top: 50px;
    margin-bottom:35px;
}

.text-container {
    max-width: 250px;
}
